h1{
    color: black;
}
header{
	background:dimgray;
	height: 100px;
	width: 100%;
	text-align: center;
}
body{
    text-align: center;
    background:darkorange;
}
p{
    
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;  
}
